/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/mooraway_html
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
templateCache.js
/public/uploads/*
/public/js/*
/public/css/app.css
/public/css/app.css.map
/public/css/main.css
/public/css/main.css.map