<div class="slider slider_gray slider_info">
    <div class="slider__item">
        <div class="img">
            <img ng-src="{{$ctrl.slide.imageSrc}}" alt="">
        </div>
    </div>
    <div class="slider__item">
        <div class="slider__dots" >
            <span class="slider__dot" ng-class="{'slider__dot_active': $ctrl.slide.id === dot.id }" ng-repeat="dot in $ctrl.slides"></span>
        </div>
        <div class="content">
            <span class="icon-mooraway-little">
              <span class="icon-sprite"></span>
            </span>
            <div class="slide">
                <h3 class="content__title" ng-bind-html="$ctrl.slide.title | trust"></h3>
                <p class="content__text-medium" ng-bind-html="$ctrl.slide.content | trust"></p>
            </div>
        </div>
        <div class="slider__arrows">
            <span class="slider__arrow   slider__arrow_left" ng-click="$ctrl.leafDown()">
                <span class="icon-arrow-left">
                  <span class="icon-sprite"></span>
                </span>
                <span class="slider__arrow-load">
                    <span class="lds-css">
                        <span class="lds-ring" style="width:100%;height:100%">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </span>
                </span>
            </span>

            <span class="slider__arrow slider__arrow_click slider__arrow_right" ng-click="$ctrl.leafUp()">
              <span class="icon-arrow-right">
                <span class="icon-sprite"></span>
              </span>
                <span class="slider__arrow-load">
                    <span class="lds-css">
                        <span class="lds-ring" style="width:100%;height:100%">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </span>
                </span>
            </span>
        </div>
    </div>

</div>