<span class="icon-circle icon-circle_vk" ng-click="$ctrl.vk()">
    <span class="icon-circle-pseudo icon-circle-pseudo_blue"><span class="text">+1</span></span>
    <span class="icon-circle-vk"><span class="icon-sprite"></span></span>
</span>
<span class="icon-circle icon-circle_fb" ng-click="$ctrl.facebook()"><span class="icon-circle-fb"><span class="icon-sprite"></span></span></span>
<span class="icon-circle icon-circle_ok" ng-click="$ctrl.ok()"><span class="icon-circle-ok"><span class="icon-sprite"></span></span></span>