<div class="tooltip tooltip_header menu-animation">
    <span class="icon-close"><span class="icon-sprite"></span></span>
    <div class="content tooltip__content tooltip__content_default">
        <div class="avatar ">
            <div class="avatar__cover avatar__cover_small">
                <img class="pic" ng-src="{{ $ctrl.icon }}" height="70 " width="70">
            </div>
        </div>
        <ul class="list">
            <li class="list__item"><a href="/" class="text" ng-mouseover="$ctrl.setIcon('5')">На главную</a></li>
            <li class="list__item"><a href="/" class="text" ng-mouseover="$ctrl.setIcon('4')">Правила отправки</a></li>
            <li class="list__item"><a href="/" class="text" ng-mouseover="$ctrl.setIcon('3')">Ответы на вопросы</a></li>
            <li class="list__item"><a href="/" class="text" ng-mouseover="$ctrl.setIcon('2')">Как работает сервис</a></li>
        </ul>
    </div>
</div>